body {
  font-family: Unica One, sans-serif;
}

a, a:visited {
  text-decoration: none;
  color: #1E9E9E;
}

a:hover {
  text-decoration: none;
  animation-name: link-hov;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.backstretch {
  background: url(../images/earth.jpeg) no-repeat center center fixed; 
  position: fixed; 
  overflow: hidden; 
  height: 100%; 
  width: 100%;
  z-index: -999999;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inner {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: fixed; 
  z-index: -900;
}

@keyframes slide-down {
    from {height: 0%;
          opacity: .1;
          z-index: 100;}
    to {height: 200%;
        opacity: .08;
        z-index: -900;}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes link-hov {
    from {  color: #1E9E9E;
    }
    to {    color: #32B2B2;
            font-size: 102%;
    }
}

#sidebar {
  float: right;
  color: #EAEAEA;
  text-align: right;
  width: 200px;
  height: 100%;
  margin-right: 8%;
  opacity: 1;
  z-index: 101;
}

#sb-trans {
  position: relative;
  left: 0px;
  top: -500px;
  background-color: #eaeaea;
  width: 100%;
  animation-name: slide-down;
  animation-delay:0.25s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#title {
  opacity: 0;
  font-size: 58px;
  line-height: 80%;
  margin-right: 15px;
  margin-top: 20px;
  animation-name: fade-in;
  animation-delay: 1.55s;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

#about {
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 2.05s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#code {
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 2.55s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#contact {
  opacity: 0;
  animation-name: fade-in;
  animation-timing-function: ease-in;
  animation-delay: 3.05s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.links {
  float: right;
  text-decoration: none;
  color: #009999;
  line-height: 120%;
  font-size: 40px;
  margin: 15px 15px;
}

div.panel {
  display: none;
  height: 100%;
  width: 80%;
  z-index: 999999;
  background-color: #201f2a;
  color: #eaeaea;
  font-size: 30px;
}

/* animate.css */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@keyframes fadeOutDownBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}

.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig;
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
