/*@font-face {
  font-family: 'Unica One';
  src: url('../fonts/unicaone.eof');
  src: local('UnicaOne'), local('UnicaOne'), url('../fonts/unicaone.ttf') format('truetype');
}

*/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.ttf');
  src: local('OpenSans'), local('OpenSans'), url('../fonts/opensanslight.ttf') format('truetype');
}
body {
  font-family: 'OpenSans', sans-serif;
}
.panel-inner {
  
}
.panel-content {
  display: none;
}

.inner-body {
  position: absolute;
  height: 100%;
  width: 100%;
}

.panel {
  height: 100%;
  width: 80%;
  float: left;
  overflow-y: scroll;
  background-color: lightgray;
}

.sidebar {
  height: 100%;
  width: 20%;
  float: left;
  background-color: lightblue;
}

.sidebar-content {
  height: 100%;
  width: 65%;
  text-align: right;
}
  
.slideUp {
  animation-name: slideUp;
  animation-duration: 1s;
}  
.slideDown {
  animation-name: slideDown;
  animation-duration: 1s;
}

@-webkit-keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  } to {
    transform:translateY(0px);
    opacity: .95;
  }
}
@-moz-keyframes slideUp {
    from {
    transform:translateY(100%);
    opacity: 0;
  } to {
    transform:translateY(0px);
    opacity: .95;
  }

}
@-o-keyframes slideUp {
    from {
    transform:translateY(100%);
    opacity: 0;
  } to {
    transform:translateY(0px);
    opacity: .95;
  }
}
@keyframes slideUp {
    from {
    transform:translateY(100%);
    opacity: 0;
  } to {
    transform:translateY(0px);
    opacity: .95;
  }
}

@-webkit-keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: .95;
  } to {
    transform:translateY(0px);
    opacity: 0;
  }
}
@-moz-keyframes slideDown {
    from {
    transform:translateY(-100%);
    opacity: .95;
  } to {
    transform:translateY(0px);
    opacity: 0;
  }
}
@-o-keyframes slideDown {
    from {
    transform:translateY(-100%);
    opacity: .95;
  } to {
    transform:translateY(0px);
    opacity: 0;
  }
}
@keyframes slideDown {
    from {
    transform:translateY(-100%);
    opacity: .95;
  } to {
    transform:translateY(0px);
    opacity: 0;
  }
}