<div class="inner-panel panel-center">
  <div class='title'>projects.<br><br>
  </div>
  <div class='project-box'> 

    <div class='project-card'>
      <span class='project-header'>FitBeat</span>
      <img src="images/fitbeatstatic.png" id="fitbeat" alt="FitBeat" class="project">
      <div class="project-body">
        A fitness music app consuming Fitbit and Spotify APIs. FitBeat pulls in daily heart rate data, displays it on a dashboard and allows the user to create and populate Spotify playlists whose BPM falls within the ranges of Fitbit's exercise heart rate categories. Uses Ruby on Rails, OAuth2 authorization, jQuery, RSpec, and VCR to test API interaction.
      </div>
      <span class="project-links">
        <br><a target="_blank" href="http://github.com/kamiboers/fitbeat">View on GitHub <img src="images/github-icon.png" width="20px"></a><br><a href="#">[ Production Demo <br>coming soon ]</a>
      </span>
    </div>

    <div class='project-card'>
      <span class='project-header'>Q*Bert</span>
      <img src="images/qbertstatic.png" id="qbert" alt="Q*Bert" class="project">
      <div class="project-body">
        Classic arcade game replicated in client-side JavaScript during a ten day, three-person collaboration. Tracks local high scores using local storage. Q*Bert also incorporates jQuery, CSS, and unit testing with Minitest, Mocha, and Chai.
      </div>
      <span class="project-links">
        <br><a target="_blank" href="http://github.com/kamiboers/qbert">View on GitHub <img src="images/github-icon.png" width="20px"></a><br><a target="_blank" href="http://qbert.rocks">View in Production</a>
        </span>
    </div>

    <div class='project-card'>
      <span class='project-header'>IdeaBox</span>
      <img src="images/ideaboxstatic.png" id="ideabox" alt="IdeaBox" class="project">
      <div class="project-body">
        Single-page app to store and rate 'ideas'. Uses Rails to manage and serve data and JavaScript/jQuery for client-side interactions. All CRUD functionality is initiated via jQuery AJAX calls to the Rails server. Ideas can be edited inline, filtered by tags, and searched dynamically without page reload. jQuery is responsible for all DOM manipulation.
      </div>
      <span class="project-links">
        <br><a target="_blank" href="http://github.com/kamiboers/ideabox">View on GitHub <img src="images/github-icon.png" width="20px"></a><br><a target="_blank" href="http://ideaboite.herokuapp.com/">View in Production</a>
      </span>
    </div>
  </div>
</div>
<div class="icon-link">
  <a target="_blank" href="http://www.github.com/kamiboers">
    <img src="images/github-icon.png" id="gh-link" alt="go to github">
  </a>
</div>