<div class="inner-panel panel-center" id="contact-inner-panel">
  <div class='title'>get in touch.
  </div>
  <br>
  <span class="panel-body2">
    <a href="mailto:kamiboers@gmail.com" class="touch">
      kamiboers@gmail.com
    </a>
    <br>303.726.5267<br>
  </span>
  <div id="about-links">
    <span class="icon-link spaced-link"><a target="_blank" href="kboers-resume.pdf">
      <img src="images/resume-icon.png" height="40px"></a>
    </span>
    <span class="icon-link spaced-link"><a target="_blank" href="http://www.github.com/kamiboers">
      <img src="images/github-icon.png" height="40px"></a>
    </span>
    <span class="icon-link spaced-link"><a target="_blank" href="http://www.linkedin.com/in/kamiboers">
      <img src="images/linkedin-icon.png" height="40px"></a>
    </span>
  </div>
</div>